.App{
  padding: 15px;
  background-color: #d9dbdb;
  font-family: Lato, sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;


}

.logo-contenedor{
  width: 100%;
  margin: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo{
  width: 400px;
  border-radius: 20px;
}

.contenedor-calculadora{
  width: 400px;
  height: 450px;
  padding: 14px;
  background-color: rgb(56, 54, 54);
  border: 5px solid white;
  border-radius: 20px;
}

.fila{
  border: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}